.main_body {
    border: 2px solid #616773;
    margin: auto;
    padding: 20px;
    width: 85%;
    border-radius: 15px;
}

.container {
    font-size: 24px;
    font-weight: bold;
    color: #282c34;
}

.box {
    width: 45%;
    padding: 5px;
    border: 1px solid #616773;
    border-radius: 5px;
    font-size: 16px;
}

.dir_row {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.dir_col {
    padding-left: 10px;
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.aling_text {
    text-align: justify;
}

.icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.classify {
    width: max-content;
    padding: 5px;
    border: 1px solid #616773;
    border-radius: 5px;
    font-size: 16px;
    margin: auto;
}

.classify:hover {
    cursor: pointer;
}

.image_upload {
    width: 30%;
    padding: 0px 20px 20px 20px;
    /* align-items: center; */
}

.scan {
    width: 128px;
    height: 128px;
}