.avoid_header {
    padding: 90px 0px 10px 0px;
}

.main_body {
    border: 1px solid #616773;
    margin: auto;
    padding: 20px;
    width: 85%;
    border-radius: 20px;
    border: 1px solid #616773;
    box-shadow: 5px 5px 5px 5px rgba(38, 40, 45, 0.2);
}

.container {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #282c34;
}

.box {
    width: 45%;
    padding: 5px;
    border: 1px solid #616773;
    border-radius: 5px;
    font-size: 16px;
}

.dir_row {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.dir_col {
    padding-left: 10px;
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.aling_text {
    text-align: justify;
}

.icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.classify {
    width: 120px;
    padding: 5px;
    border: 1px solid #616773;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.form_img {
    padding: 0px 20px;
}

input[type='file'] {
    display: none;
}

.image_upload {
    width: 20%;
    padding: 20px;
    align-items: flex-start;
}

.scan {
    width: 128px;
    height: 128px;
}

.table_container {
    width: 100%;
    color: #282c34;
    display: flex;
    flex-direction: column;
}


.table_row {
    width: 80%;
    justify-content: space-around;
    border: 1px solid #616773;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5px;
    padding: 0px 5px 0px 5px;
}

.table_header {
    font-weight: bold;
}

