.avoid_header {
    padding: 120px 0px 10px 0px;
}

.main_body {
    border: 1px solid #616773;
    margin: auto;
    padding: 20px;
    width: 85%;
    border-radius: 20px;
    border: 1px solid #616773;
    box-shadow: 5px 5px 5px 5px rgba(38, 40, 45, 0.2);
}

.container {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #282c34;
}

.box {
    width: 45%;
    padding: 5px;
    border: 1px solid #616773;
    border-radius: 5px;
    font-size: 16px;
}

.dir_row {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.dir_col {
    padding-left: 10px;
    align-items: flex-start;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.aling_text {
    text-align: justify;
}

.icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    align-self: center;
}

.classify {
    width: 120px;
    padding: 5px;
    border: 1px solid #616773;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.form_img {
    padding: 0px 20px;
}

input[type='file'] {
    display: none;
}

.image_upload {
    width: 20%;
    padding: 20px;
    align-items: flex-start;
}

.scan {
    width: 128px;
    height: 128px;
}

.table_container {
    width: 100%;
    color: #282c34;
    display: flex;
    flex-direction: column;
}


.table_row {
    width: 80%;
    justify-content: space-around;
    border: 1px solid #616773;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5px;
    padding: 0px 5px 0px 5px;
}

.table_header {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.new_records {
    width: max-content;
    border-radius: 15px;
    padding: 5px;
}

/* Search Doc Card */
.p_button_div {
    width: 40%;
    flex-direction: row;
    align-self: center;
    padding-right: 10px;
}

.p_sent {
    width: max-content;
    background-color: #999da0;
    color: #fff;
    cursor: pointer;
    align-content: center;
    top: 50%;
    left: auto;
    right: auto;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px rgba(153, 157, 160, 0.5);
}

.p_not_sent {
    width: max-content;
    background-color: #588bae;
    color: #fff;
    cursor: pointer;
    align-content: center;
    top: 50%;
    left: auto;
    right: auto;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px rgba(88, 139, 174, 0.5);
}

.box_row {
    width: 80%;
    padding: 5px;
    border: 1px solid #616773;
    border-radius: 15px;
    font-size: 16px;
    margin: auto;
    margin-bottom: 10px;
}

.box_main_20 {
    width: 20%;
    border: 1px solid #616773;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.box_main_40 {
    width: 40%;
    border: 1px solid #616773;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.main_body_home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.section_lable {
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
}

.section_header {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}